@model TurnosMedicos.Models.Consultorio

<div class="mb-3">
    <label asp-for="Numero" class="form-label"></label>
    <input asp-for="Numero" class="form-control" />
    <span asp-validation-for="Numero" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Ubicacion" class="form-label"></label>
    <input asp-for="Ubicacion" class="form-control" />
    <span asp-validation-for="Ubicacion" class="text-danger"></span>
</div>
