@model TurnosMedicos.Models.ViewModels.TurnoForm
@{
    ViewData["Title"] = "Editar Turno";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Editar" method="post">
    <input type="hidden" asp-for="IdTurno" />
    @Html.Partial("_FormTurno", Model)
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
