@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar correo electrónico";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="mt-3 text-center">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
