@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de restablecimiento de contraseña";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<p class="text-center mt-3">
    Revisá tu correo electrónico para continuar con el restablecimiento de tu contraseña.
</p>
